@import "tailwindcss";

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 40% !important; */
  height: 300px;
}

/* Add this in your CSS file or global styles */
.nav-underline-gradient {
  position: relative;
  /* display: inline-block; */
}

.nav-underline-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(
    to right,
    #2563eb,
    #16a34a
  ); /* from-blue-600 to-green-600 */
  transition: width 0.4s ease;
}

.nav-underline-gradient:hover::after,
.nav-underline-gradient-active::after {
  width: 100%;
}

.brand-single-slider img {
    width: 120px;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
}
/* Tailwind already supports this directly */
.grayscale {
  filter: grayscale(100%);
}
.grayscale-0 {
  filter: grayscale(0%);
}


/* .swiper-slide-card-wrapper {
  opacity: 0.4;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.swiper-slide-active .swiper-slide-card-wrapper {
  opacity: 1;
  transform: scale(1.05);
} */

.swiper-3d .swiper-slide-shadow-left {
  /* background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); */
  background-image: linear-gradient(
    to Left,
    rgba(59, 130, 246, 0.25),
    rgba(13, 148, 136, 0)
  ) !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(59, 130, 246, 0.25),
    rgba(13, 148, 136, 0)
  ) !important;
  /* background-image: linear-gradient(to Right, rgba(13, 148, 136, 0.25), rgba(13, 148, 136, 0)); */
}

/* body {


  @apply font-poppins bg-background text-text-primary;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
